*{
    margin: 0;
    padding: 0;
}
.main{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: rgb(105, 105, 105);
}
.center {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
.large{
    font-size: xx-large;
}
img{
    height: 200px;
}